@mixin buy__btn {
  background-color: #65e4b0;
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: RobotoSlab , serif;
  border-bottom: 2px solid #b2f1be;
}